.animalDiv{
width: fit-content;
height: 80px;
margin-bottom: 20px;
border: 4px solid gray;
border-radius: 40%;
}

.animalContainer{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
}
.animalHeading{
}
body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
}